<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>楊枝甘露</string>
		<key>info</key>
		<string>不辭長作玉井人。日啖芒果三百顆</string>
		<key>priceL</key>
		<integer>80</integer>
		<key>priceM</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅豆粉粿鮮奶</string>
		<key>info</key>
		<string>冰棒用喝的也可以</string>
		<key>priceL</key>
		<integer>0</integer>
		<key>priceM</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>黑糖珍珠鮮奶</string>
		<key>info</key>
		<string>萬波把它做得更好</string>
		<key>priceL</key>
		<integer>0</integer>
		<key>priceM</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>蘭葉那提</string>
		<key>info</key>
		<string>茶味濃郁醇厚呈現</string>
		<key>priceL</key>
		<integer>55</integer>
		<key>priceM</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>烏龍那提</string>
		<key>info</key>
		<string>一領一隨的探戈像極了愛情</string>
		<key>priceL</key>
		<integer>55</integer>
		<key>priceM</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>仙草奶茶</string>
		<key>info</key>
		<string>甘苦仙草香奶茶唱雙簧</string>
		<key>priceL</key>
		<integer>50</integer>
		<key>priceM</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>布丁奶茶</string>
		<key>info</key>
		<string>我弟喝了不再哭鬧</string>
		<key>priceL</key>
		<integer>60</integer>
		<key>priceM</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>波霸奶茶</string>
		<key>info</key>
		<string>臺灣茶界的黑珍珠</string>
		<key>priceL</key>
		<integer>50</integer>
		<key>priceM</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>阿里山烏龍奶茶</string>
		<key>info</key>
		<string>烏龍茶不烏龍</string>
		<key>priceL</key>
		<integer>45</integer>
		<key>priceM</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>碧螺春奶綠</string>
		<key>info</key>
		<string>清香奶味隨風發</string>
		<key>priceL</key>
		<integer>45</integer>
		<key>priceM</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>萬波奶茶</string>
		<key>info</key>
		<string>這杯幾乎是世界第二名</string>
		<key>priceL</key>
		<integer>45</integer>
		<key>priceM</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>木柵四季春</string>
		<key>info</key>
		<string>留下一篇春的詩</string>
		<key>priceL</key>
		<integer>35</integer>
		<key>priceM</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>阿里山青心烏龍</string>
		<key>info</key>
		<string>茶醉的探戈</string>
		<key>priceL</key>
		<integer>35</integer>
		<key>priceM</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鹿野碧螺春綠茶</string>
		<key>info</key>
		<string>茶尖爭說碧螺春</string>
		<key>priceL</key>
		<integer>35</integer>
		<key>priceM</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>島嶼紅茶</string>
		<key>info</key>
		<string>浪花的手恰似你的溫柔</string>
		<key>priceL</key>
		<integer>35</integer>
		<key>priceM</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>金露楊桃汁</string>
		<key>info</key>
		<string>早晨金玉容軟枝楊桃露</string>
		<key>priceL</key>
		<integer>50</integer>
		<key>priceM</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>新武洛神仙渣</string>
		<key>info</key>
		<string>植物界的紅寶石</string>
		<key>priceL</key>
		<integer>65</integer>
		<key>priceM</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>蔗香煙燻烏梅</string>
		<key>info</key>
		<string>化了妝的梅子垂涎欲滴</string>
		<key>priceL</key>
		<integer>60</integer>
		<key>priceM</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>仙草甘茶</string>
		<key>info</key>
		<string>甘苦談之黑是因為不想白活</string>
		<key>priceL</key>
		<integer>35</integer>
		<key>priceM</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>古早冬瓜露</string>
		<key>info</key>
		<string>公嬷的手路茶</string>
		<key>priceL</key>
		<integer>35</integer>
		<key>priceM</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>大青梅果綠</string>
		<key>info</key>
		<string>青梅找竹馬嬌羞滋味</string>
		<key>priceL</key>
		<integer>50</integer>
		<key>priceM</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>檸檬冬瓜露</string>
		<key>info</key>
		<string>榕樹下的古早味</string>
		<key>priceL</key>
		<integer>50</integer>
		<key>priceM</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮榨檸檬青</string>
		<key>info</key>
		<string>天然的尚好</string>
		<key>priceL</key>
		<integer>50</integer>
		<key>priceM</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>凍檸紅</string>
		<key>info</key>
		<string>把檸檬裝進杯裡</string>
		<key>priceL</key>
		<integer>50</integer>
		<key>priceM</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>三義百香綠</string>
		<key>info</key>
		<string>百香果種子選手</string>
		<key>priceL</key>
		<integer>50</integer>
		<key>priceM</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>埔里甘蔗青</string>
		<key>info</key>
		<string>甘係心動的滋味</string>
		<key>priceL</key>
		<integer>55</integer>
		<key>priceM</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鳴光蜜金桔</string>
		<key>info</key>
		<string>酸甘甜喜相逢</string>
		<key>priceL</key>
		<integer>60</integer>
		<key>priceM</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>金牌檸檬愛玉</string>
		<key>info</key>
		<string>藏在我心像藏起回憶</string>
		<key>priceL</key>
		<integer>60</integer>
		<key>priceM</key>
		<integer>45</integer>
	</dict>
</array>
</plist>
